/*********************
Styles for form #2872
*********************/

.mc4wp-form-2872 label, 
.mc4wp-form-2872 input, 
.mc4wp-form-2872 textarea, 
.mc4wp-form-2872 select, 
.mc4wp-form-2872 button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mc4wp-form-2872 input[type='radio'],
.mc4wp-form-2872 input[type='checkbox'] {
	margin-right: 6px;
	display: inline-block
}



